#div-background{
    width: 1000px;
    display: flex;
}

#fondos-color{
    background-color: red;
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    color: black
}

#fondos-hexadecimal{
    background-color: #add8e6;
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    color: black
}

#fondos-transparent{
    background-color: transparent;
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    color: black
}

#fondos-rgb{
    background-color: rgb(210,120,134);
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    color: black
}

#fondos-rgba{
    background-color: rgba(30, 27, 96, 0.911);
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    color:black
}

#fondos-hsl{
    background-color: hsl(14, 100%, 73%);
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    color: black
}

#fondos-hsla{
    background-color: hsla(14, 100%, 53%, 0.2);
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    color: black
}