.fondos-background-origin-imagen1{
    height:200px; 
    border: 10px dashed black;
    padding: 25px;
    background-origin: padding-box;
    background-image: url("../img/background-repeatY-img.png");  
}
.fondos-background-origin-imagen2{
    height:200px; 
    border: 10px dashed black;
    padding: 25px;
    background-origin: border-box;
    background-image: url("../img/background-repeatY-img.png");  
}
.fondos-background-origin-imagen3{
    height:200px; 
    border: 10px dashed black;
    padding: 25px;
    background-origin: content-box;
    background-image: url("../img/background-repeatY-img.png");  
}