.fondos-background-image-imagen1{
    background-image: url("../img/background-repeat-space-img.png"), url("../img/background-image-imagen.png");
    background-position: center;
    background-repeat: no-repeat, repeat;
    height: 500px;
}
.fondos-background-image-imagen2{
    background-image: none;
}
.fondos-background-image-imagen3{
    background-image: conic-gradient(red, yellow, green);
}
.fondos-background-image-imagen4{
    background-image: linear-gradient(red, yellow, rgb(140, 139, 235));
}
.fondos-background-image-imagen5{
    background-image: radial-gradient(red, green, rgb(140, 139, 235));
}