#padre>div {
    display: inline-block;
    width: 160px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    color: black;
}

#padre>div>p {
    text-align: center;
}

#fondos-color {
    background-color: red;
}

#fondos-hexadecimal {
    background-color: #add8e6;
}

#fondos-transparent {
    background-color: transparent;

}

#fondos-rgb {
    background-color: rgb(210, 120, 134);

}

#fondos-rgba {
    background-color: rgba(30, 27, 96, 0.911);

}

#fondos-hsl {
    background-color: hsl(14, 100%, 73%);

}

#fondos-hsla {
    background-color: hsla(14, 100%, 53%, 0.2);
}