.fondos-background-image-imagen1{
    background-image: url("../img/background-image-imagen.png");
}
.fondos-background-image-imagen2{
    background-image: none;
}
.fondos-background-image-imagen3{
    background-image: conic-gradient(red, yellow, green);
}
.fondos-background-image-imagen4{
    background-image: linear-gradient(red, yellow, rgb(140, 139, 235));
}
.fondos-background-image-imagen5{
    background-image: radial-gradient(red, green, rgb(140, 139, 235));
}
.fondos-background-image-imagen6{
    background-image: repeating-conic-gradient(red 20%, yellow 25%);
}
.fondos-background-image-imagen7{
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}
.fondos-background-image-imagen8{
    background-image: repeating-radial-gradient(red, yellow 20%, green 25%);
}