img {
    display: flex;
    margin: auto;
}

#col_ejemploColumn-count {
    column-count: 5;
}

#col_ejemploColumn-width {
    column-count: 5;
}

#col_ejemploColumn-width>p {
    column-width: 10%;
}

#col_ejemploColumn-gap {
    column-count: 5;
    column-gap: 80px;
}

#col_ejemploColumn-rule-style {
    column-count: 5;
    column-rule: solid;
}
#col_ejemploColumn-rule-width {
    column-count: 5;
    column-rule: solid;
    column-rule-width: 5px;
}
#col_ejemploColumn-rule-color {
    column-count: 5;
    column-rule: solid;
    column-rule-width: 5px;
    column-rule-color: red;
}
#col_ejemploColumn-rule-shorthand {
    column-count: 5;
    column-rule: 5px solid red;
}
#col_spam_h1 {
    color: black;
    column-span: all;
}
#col_ejemploColumn_fill-auto{
    column-count: 5;
    column-fill: auto;
}
#col_ejemploColumn_fill_balance{
    column-count: 5;
    column-fill: balance;
}