:root {
  --primaryColor: #303f9f;
  --primaryLightColor: #666ad1;
  --primaryDarkColor: #001970;
  --secondaryColor: #ffa000;
  --secondaryLightColor: #ffd149;
  --secondaryDarkColor: #c67100;
  --primaryTextColor: #000000;
  --secondaryTextColor: #ffffff;

  --primarysurfaceColor: #ffffff;
  --oddsurfaceColor: #f2f2f2;
  --borderarticleColor: #d3caca;
}

body {
  background: var(--primaryDarkColor);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
#hexadecimalSinAlpha {
  background-color: #0080ff;
}
#hexadecimalConAlpha {
  background-color: #0080ff80;
}
#colorTomate {
  color: tomato;
}
#colorLima {
  color: lime;
}
#colorAgua {
  color: aqua;
}
#colorRed {
  color: #ff0000;
}
#colorBlue {
  color: #0000ff;
}
#colorGreen {
  color: #009b00;
}
#colorRojoRGB {
  color: rgb(65%, 0%, 0%);
}
#colorGrisRGB {
  color: rgb(129, 129, 129);
}
#colorMoradoRGB {
  color: rgb(100%, 3%, 100%);
}
#textoConOpacidad {
  color: rgba(255, 0, 0, 0.5);
}
#textoSinOpacidad {
  color: rgba(255, 0, 0, 1);
}
#hslVerdeClaro {
  color: hsl(120, 100%, 65%);
}
#hslVerdeOscuro {
  color: hsl(120, 100%, 20%);
}
#hslAzul {
  color: hsl(240, 0%, 50%);
}
#hslaVerde1 {
  color: hsla(120, 100%, 65%, 0.2);
}
#hslaVerde2 {
  color: hsla(120, 100%, 50%, 0.5);
}
#hslaVerde3 {
  color: hsla(120, 100%, 50%, 1);
}
#grad1 {
  height: 100px;
  background: linear-gradient(to bottom, red, black);
}
#grad2 {
  height: 100px;
  background: linear-gradient(to top, blue, green);
}
#grad3 {
  height: 100px;
  background: linear-gradient(to right, yellow, orange);
}
#grad4 {
  height: 100px;
  background: linear-gradient(to left, purple, brown);
}
#grad5 {
  height: 100px;
  background: linear-gradient(to bottom, lime, aqua, crimson, deepPink);
}
#grad6 {
  height: 100px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}
#grad7 {
  height: 100px;
  background: repeating-linear-gradient(red, yellow 20px);
}
#grad8 {
  height: 100px;
  background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}
#grad9 {
  height: 100px;
  background: linear-gradient(180deg, blue, green);
}
#grad10 {
  height: 200px;
  width: 200px;
  background: linear-gradient(
      200deg,
      rgba(250, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.7%
    ),
    linear-gradient(120deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.7%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
#grad11 {
  height: 200px;
  width: 200px;
  background: radial-gradient(blue, aqua, lime);
}
#grad12 {
  height: 120px;
  background: radial-gradient(red 10%, yellow 20%, green 50%);
}
#grad13 {
  height: 150px;
  width: 150px;
  background: radial-gradient(closest-side at 60% 55%, red, yellow, black);
}
#grad14 {
  height: 150px;
  width: 150px;
  background: radial-gradient(farthest-side at 60% 55%, red, yellow, black);
}
#grad15 {
  height: 150px;
  width: 150px;
  background: radial-gradient(closest-corner at 60% 55%, red, yellow, black);
}
#grad16 {
  height: 150px;
  width: 150px;
  background: radial-gradient(farthest-corner at 60% 55%, red, yellow, black);
}
#grad17{
  height: 250px;
  width: 250px;
  background-image: conic-gradient(red,blue,green);
}
#grad18{
  height: 250px;
  width: 250px;
  background-image: conic-gradient(from 70deg,red,blue,green);
}
#grad19{
  height: 250px;;
  width: 250px;
  background:conic-gradient(red 0deg,red 90deg,yellow 90deg, yellow 180deg, green 180deg,green 270deg,blue 270deg, blue 360deg);
}
#grad20{
  height: 100px;
  background: linear-gradient(to right, rgb(100%,0%,0%),rgb(75%,25%,50%)25%),rgb(50%,50%,100%);
}
#grad21{
  height: 100px;
  background: linear-gradient(to right,rgb(100%,0%,0%),25%,rgb(50%,50%,100%));
}
#tipoDegradado {
  display: block;
  margin: auto;
  height: 220px;
}
footer {
  text-align: center;
  margin-top: 0.5rem;
}
#currentColor {
  color: blue;
  border: 2px solid currentColor;
}
footer div {
  color: var(--secondaryTextColor);
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

h1 {
  color: var(--secondaryTextColor);
  text-align: center;
}

h1 a {
  color: var(--secondaryTextColor);
  text-decoration: none;
}

h2 {
  color: var(--secondaryLightColor);
  text-align: center;
}

h2 > img {
  height: 2em;
  width: 2em;
}

h3 {
  color: var(--secondaryTextColor);
  text-align: center;
}

header {
}

nav {
  padding: 5px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  background: var(--primaryLightColor);
  border: 0.5px solid var(--primaryColor);
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px var(--secondaryLightColor);
  display: inline-block;
  line-height: 50px;
  margin: 2px 0px;
  transition: all 0.2s;
  width: 90%;
}

nav > ul > li:hover {
  background: var(--secondaryColor);
  box-shadow: 1px 1px 3px var(--secondaryLightColor);
  transform: scale(1.01, 1.01);
}

nav > ul > li > a {
  color: var(--secondaryTextColor);
  font-size: 1em;
  text-decoration: none;
  display: block;
}

nav > ul > li:hover > a {
  *color: var(--primaryLightColor);
  font-weight: bold;
}

main {
  background-color: var(--primarysurfaceColor);
  margin: 0 auto;
  text-align: justify;
  width: 100%;
}

main > div {
  background-color: var(--primaryDarkColor);
  padding: 0.5px 0px;
}

section {
  padding-bottom: 1px;
}

section article {
  margin: 1rem auto;
  width: 93%;
  background-color: var(--primarysurfaceColor);
  border-radius: 8px;
  border: 1px solid var(--borderarticleColor);
}

section article:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

section > article:nth-child(odd) {
  background-color: var(--oddsurfaceColor);
  padding: 10px;
}

section > article:nth-child(even) {
  background-color: var(--primarysurfaceColor);
  padding: 10px;
}

section > article:last-child {
  margin-bottom: 1rem;
}

section > article > h3 {
  color: var(--secondaryColor);
  font-size: 1.4rem;
  margin-top: 0;
}

section > article h4 {
  text-align: left;
  color: var(--secondaryDarkColor);
  margin-bottom: 0;
}

section > article div {
  *padding: 0.6rem;
  *text-align: justify;
}

section > article > p {
  font-size: 0.96rem;
  *font-weight: bold;
  line-height: 1rem;
  text-align: justify;
  margin: 0.5rem 0;
}

section > article span {
  color: var(--secondaryDarkColor);
}

span {
  *color: #eceff1;
  *font-family: Sosa;
  *font-size: 2em;
}

.social {
  color: white;
  display: inline-block;
  height: 30px;
  margin: 5px;
  transition: all 0.5s;
  width: 30px;
}

.social:hover {
  transform: scale(1.1);
}

table {
  border: 1px solid;
}
table th,
td {
  width: 120px;
  height: 50px;
  border: 1px solid;
}
.colorRed:hover {
  color: red;
}
.colorBlue:hover {
  color: blue;
}
.colorGreen:hover {
  background-color: green;
}
.colorRed {
  color: black;
}
.colorBlue {
  color: black;
}
.colorGreen {
  color: black;
}
p {
  color: black;
}
a {
  text-decoration: none;
  color: Indigo;
}
@media only screen and (min-width: 800px) {
  nav > ul > li {
    width: 45%;
  }
  section article {
    width: 96%;
  }
}

@media only screen and (min-width: 1560px) {
  nav > ul > li {
    width: 9%;
  }
  section article {
    width: 98%;
  }
}
