/*FONDOS-BACKGROUND*/
.backgroundattachment {
    background-image: url("../img/fondos-estrellas.jpeg");
    background-repeat: no-repeat;
    height: 200px;
    background-attachment: scroll;
    border: 1px solid #ddd;
    overflow-y: scroll;
}

.backgroundattachment2 {
    background-image: url("../img/fondos-estrellas.jpeg");
    background-repeat: no-repeat;
    height: 200px;
    background-attachment: fixed;
    border: 1px solid #ddd;
    overflow-y: scroll;
}

.backgroundattachment3 {
	background-image: url("../img/fondos-estrellas.jpeg");
    background-repeat: no-repeat;
    background-attachment: local;
    height: 200px;
    border: 1px solid #ddd;
    overflow-y: scroll;
}

.backgroundclip1 {
    border: 30px double black;
    padding: 200px;
	background-image: url("../img/fondos-estrellas.jpeg");
    background-clip: border-box;
}

.backgroundclip2 {
    border: 30px double black;
    padding: 200px;
	background-image: url("../img/fondos-estrellas.jpeg");
    background-clip: padding-box;
}

.backgroundclip3 {
    border: 30px double black;
    padding: 200px;
	background-image: url("../img/fondos-estrellas.jpeg");
    background-clip: content-box;
	align-content: right;
}

.background-size1 {
    padding: 200px;
    border: 5px solid;
    background-image: url("../img/fondos-estrellas.jpeg");
    background-size: auto;
}

.background-size2 {
    padding: 200px;
    border: 5px solid;
	background-image: url("../img/fondos-estrellas.jpeg");
    background-size: 100px 1000px;
}

.background-size3 {
    padding: 200px;
    border: 5px solid;
    background-image: url("../img/fondos-estrellas.jpeg");
    background-size: contain;
}

.background-size4 {
    padding: 200px;
    border: 5px solid;
	background-image: url("../img/fondos-estrellas.jpeg");
    background-size: cover;
}

.background {
    background: url("../img/fondos-estrellas.jpeg") 10% 85%/350px no-repeat fixed, url("../img/fondos-sol.jpg") 90% 85%/250px no-repeat fixed;
    height: 500px;
}

.background1 {
	height: 500px;
	background: green;
}

.background2 {
	height: 500px;
	background: url("../img/fondos-estrellas.jpeg") repeat-y;
}

.background3 {
	height: 500px;
	background: border-box red;
}


.background4 {
	height: 500px;
	background: no-repeat center/80% url("../img/fondos-estrellas.jpeg");
}
/*FONDOS-IMG*/

.fondo {
	border: solid black 2px;
	background-image: url(../img/fondo-paisaje.png);
	background-color: rgb(221, 138, 61);
	height: 400px;
	width: 1000px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-repeat: no-repeat, repeat;
}

.fondo-img {
	height: 500px;
    background-image: url(../img/fondo-pizza.png), url(../img/fondos-png.png), url(../img/fondo-comida.png), url(../img/fondo-manzana.png), url(../img/fondo-naranja.png), url(../img/fondo-mantel.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 10% 10%, 90% 70%, 40% 20%, 20% 80%, 75% 12%;
    background-size: 150px, 150px, 150px, 90px, 100px, 100%;
}

.fondos-calor {
	height: 100px;
	margin-top: 10px;
	border: solid black 2px;
	margin-bottom: 10px;
	background-color: coral;
}

.fondos-hexa {
	height: 100px;
	margin-top: 10px;
	border: solid black 2px;
	margin-bottom: 10px;
	background-color: #92a8d1;
}

.fondos-rgb {
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid black 2px;
	background-color: rgb(201, 76, 76);
}

.fondos-rgba {
	height: 100px;
	margin-top: 10px;
	border: solid black 2px;
	margin-bottom: 10px;
	background-color: rgba(31, 35, 236, 0.3);
}

.fondos-hsl {
	height: 100px;
	border: solid black 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: hsl(89, 43%, 51%);
}

.fondos-hsla {
	height: 100px;
	border: solid black 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: hsla(89, 43%, 51%, 0.3);
}

.fondos-transparente {
	height: 100px;
	border: solid black 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: transparent;
}

.fondosNormal {
	border: solid black 2px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat, repeat;
	background-image: url("../img/fondos-logo.png"), linear-gradient(white, purple);
	background-size: 200px, 200px;
	background-blend-mode: normal;
}

.fondosMultiply {
	border: solid black 2px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat, repeat;
	background-image: url("../img/fondos-logo.png"), linear-gradient(white, purple);
	background-blend-mode: multiply;
}

.fondosScreen {
	border: solid black 2px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat, repeat;
	background-image: url("../img/fondos-logo.png"), linear-gradient(white, purple);
	background-blend-mode: Screen;
}

.fondosOverlay {
	border: solid black 2px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat, repeat;
	background-image: url("../img/fondos-logo.png"), linear-gradient(white, purple);
	background-blend-mode: overlay;
}

.fondosDarken {
	border: solid black 2px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat, repeat;
	background-image: url("../img/fondos-logo.png"), linear-gradient(white, purple);
	background-blend-mode: darken;
}

.fondosLighten {
	border: solid black 2px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat, repeat;
	background-image: url("../img/fondos-logo.png"), linear-gradient(white, purple);
	background-blend-mode: Lighten;
}

.fondosColor-dodge {
	border: solid black 2px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat, repeat;
	background-image: url("../img/fondos-logo.png"), linear-gradient(white, purple);
	background-blend-mode: color-dodge;
}

.fondosSaturation {
	border: solid black 2px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat, repeat;
	background-image: url("../img/fondos-logo.png"), linear-gradient(white, purple);
	background-blend-mode: saturation;
}

.fondosColor {
	border: solid black 2px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat, repeat;
	background-image: url("../img/fondos-logo.png"), linear-gradient(white, purple);
	background-blend-mode: color;
}

.fondosLuminosity {
	border: solid black 2px;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat, repeat;
	background-image: url("../img/fondos-logo.png"), linear-gradient(white, purple);
	background-blend-mode: luminosity;
}

/*FONDOS-POSITION*/

.fondos-position{
	padding: 5%;
    border: 2px solid #000000;
    background-image: url('../img/fondos-logoGC.jpg');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.fondos-position1{
	padding: 5%;
    border: 2px solid #000000;
    background-image: url('../img/fondos-logoGC.jpg');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 5cm;
}

.fondos-position2{
	padding: 5%;
	border: 2px solid #000000;
	background-image: url('../img/fondos-logoGC.jpg');
	background-size: 150px;
    background-repeat: no-repeat;
    background-position: 75% 100%;
}

.fondos-origin{
    padding: 5%;
    border: 7px double black;
	background-image: url('../img/fondos-origin.jpg');
    background-size: 150px;
    background-origin: border-box;
    background-repeat: no-repeat;
}

.fondos-origin1{
    padding: 5%;
    border: 7px double black;
	background-image: url('../img/fondos-origin.jpg');
    background-size: 150px;
    background-origin: padding-box;
    background-repeat: no-repeat;
}
.fondos-origin2{
    padding: 5%;
    border: 7px double black;
    background-image: url('../img/fondos-origin.jpg');
    background-size: 150px;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: 75% 50%;
}

.fondos-repeat{
    padding: 5%;
    border: 2px solid #000000;
    background-image: url('../img/fondos-logoGC.jpg');
    background-size: 150px;
    background-repeat: repeat-x;
}


.fondos-repeat1{
    padding: 5%;
    border: 2px solid;
    background-image: url('../img/fondos-logoGC.jpg');
    background-size: 100px;
    background-repeat: round;
}

.fondos-repeat2 {
    padding: 10%;
    border: 2px solid;
    background-image: url('../img/fondos-logoGC.jpg');
    background-size: 100px;
    background-repeat: repeat-y;
}
