.fuentesytexto_title_result {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.fuentesytexto_resultado {
    border: 2px solid #000000;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: hsl(227, 50%, 22%);
    color: white;
}

.fuentesytexto_align_center {
    text-align: center;
}

.fuentesytexto_align_left {
    text-align: left;
}

.fuentesytexto_align_right {
    text-align: right;
}

.fuentesytexto_align_justify {
    text-align: justify;
}

.fuentesytexto_align_last_center {
    text-align-last: center;
}

.fuentesytexto_align_last_left {
    text-align-last: left;
}

.fuentesytexto_align_last_right {
    text-align-last: right;
}

.fuentesytexto_align_last_justify {
    text-align-last: justify;
}

.fuentesytexto_direction_ltr {
    direction: ltr;
}

.fuentesytexto_direction_rtl {
    direction: rtl;
}

.fuentesytexto_unicode_bidi_normal {
    unicode-bidi: normal;
}

.fuentesytexto_unicode_bidi_embed {
    unicode-bidi: embed;
}

.fuentesytexto_unicode_bidi_bidi_override {
    unicode-bidi: bidi-override;
}

.fuentesytexto_div_vertical-align {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.fuentesytexto_div_vertical-align div {
    height: 100px;
    background-color: hsl(240, 52%, 34%);
    text-align: center;
    border-radius: 3px;
}

.fuentesytexto_div_vertical-align div p {
    color: black;
    background-color: white;
    display: inline-block;
}

.fuentesytexto_vertical_align_baseline {
    vertical-align: baseline;
}

.fuentesytexto_vertical_align_sub {
    vertical-align: sub;
}

.fuentesytexto_vertical_align_super {
    vertical-align: super;
}

.fuentesytexto_vertical_align_top {
    vertical-align: top;
}

.fuentesytexto_vertical_align_text_top {
    vertical-align: text-top;
}

.fuentesytexto_vertical_align_middle {
    vertical-align: middle;
}

.fuentesytexto_vertical_align_bottom {
    vertical-align: bottom;
}

.fuentesytexto_vertical_align_text_bottom {
    vertical-align: text-bottom;
}

.fuentesytexto_vertical_align_50px {
    vertical-align: 50px;
}

.fuentesytexto_vertical_align_70porciento {
    vertical-align: 70%;
}

.fuentesytexto_text-decoration-line-underline {
    text-decoration-line: underline;
}

.fuentesytexto_text-decoration-line-overline {
    text-decoration-line: overline;
}

.fuentesytexto_text-decoration-line-line-through {
    text-decoration-line: line-through;
}

.fuentesytexto_text-decoration-line-underline-overline{
    text-decoration-line: underline overline;
}

.fuentesytexto_text-decoration-color-red{
    text-decoration-line: underline;
    text-decoration-color: red;
}

.fuentesytexto_text-decoration-color-ff0000{
    text-decoration-line: underline;
    text-decoration-color: #ff0000;
}

.fuentesytexto_text-decoration-color-hsl{
    text-decoration-line: underline;
    text-decoration-color: hsl(0, 100%, 50%);
}

.fuentesytexto_text-decoration-color-rgb{
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 0, 0);
}

.fuentesytexto_text-decoration-color-rgba{
    text-decoration-line: underline;
    text-decoration-color: rgba(255, 0, 0, 0.5);
}

.fuentesytexto_text-decoration-style-solid{
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.fuentesytexto_text-decoration-style-double{
    text-decoration-line: line-through underline;
    text-decoration-style: double;
}

.fuentesytexto_text-decoration-style-dotted{
    text-decoration-line: overline underline;
    text-decoration-style: dotted;
}

.fuentesytexto_text-decoration-style-dashed{
    text-decoration-line: overline;
    text-decoration-style: dashed;
}

.fuentesytexto_text-decoration-style-wavy{
    text-decoration-line: line-through;
    text-decoration-style: wavy;
}

.fuentesytexto_text-decoration-thickness-2px{
    text-decoration-thickness: 2px;
    text-decoration-line: line-through underline;
}

.fuentesytexto_text-decoration-thickness-4px{
    text-decoration-thickness: 4px;
    text-decoration-line: overline underline;
}

.fuentesytexto_text-decoration-thickness-6px{
    text-decoration-thickness: 6px;
    text-decoration-line: overline;
}

.fuentesytexto_text-decoration-thickness-8px{
    text-decoration-thickness: 8px;
    text-decoration-line: line-through;
}

.fuentesytexto_text-decoration-thickness-10px{
    text-decoration-thickness: 10px;
    text-decoration-line: underline;
}

.fuentesytexto_text-decoration-underline-wavy-blue-5px{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
    text-decoration-thickness: 5px;
}

.fuentesytexto_color-green{
    color: green;
}

.fuentesytexto_color-red{
    color: red;
}

.fuentesytexto_text-transform-capitalize{
    text-transform: capitalize;
}

.fuentesytexto_text-transform-uppercase{
    text-transform: uppercase;
}

.fuentesytexto_text-transform-lowercase{
    text-transform: lowercase;
}

.fuentesytexto_text-indent-50px{
    text-indent: 50px;
}

.fuentesytexto_text-indent-50porciento{
    text-indent: 50%;
}

.fuentesytexto_text-indent-50em{
    text-indent: 50em;
}

.fuentesytexto_letter-spacing-normal{
    letter-spacing: normal;
}

.fuentesytexto_letter-spacing-5px{
    letter-spacing: 5px;
}

.fuentesytexto_letter-spacing-menos2px{
    letter-spacing: -2px;
}

.fuentesytexto_letter-spacing-5em{
    letter-spacing: 5em;
}

.fuentesytexto_line-height-normal{
    line-height: normal;
}

.fuentesytexto_line-height-1punto5{
    line-height: 1.5;
}

.fuentesytexto_line-height-2{
    line-height: 2;
}

.fuentesytexto_line-height-50px{
    line-height: 50px;
}

.fuentesytexto_line-height-50porciento{
    line-height: 50%;
}

.fuentesytexto_line-height-2em{
    line-height: 2em;
}

.fuentesytexto_word-spacing-normal{
    word-spacing: normal;
}

.fuentesytexto_word-spacing-5px{
    word-spacing: 5px;
}

.fuentesytexto_word-spacing-menos2px{
    word-spacing: -2px;
}

.fuentesytexto_word-spacing-5em{
    word-spacing: 5em;
}

.fuentesytexto_white-space-normal{
    white-space: normal;
}

.fuentesytexto_white-space-nowrap{
    white-space: nowrap;
}

.fuentesytexto_white-space-pre{
    white-space: pre;
}

.fuentesytexto_white-space-pre-line{
    white-space: pre-line;
}

.fuentesytexto_white-space-pre-wrap{
    white-space: pre-wrap;
}

.fuentesytexto_text-shadow-none{
    text-shadow: none;
}

.fuentesytexto_text-shadow-2px{
    text-shadow: 2px 2px 2px white;
}

.fuentesytexto_text-shadow-2px-4px{
    text-shadow: 2px 2px 2px white, 4px 4px 4px white;
}

.fuentesytexto_font-family{
    font-family: Arial, Helvetica, sans-serif;
}

.fuentesytexto_font-family-2{
    font-family: "Times New Roman", Times, serif;

}

.fuentesytexto_font-family-3{
    font-family: "Courier New", Courier, monospace;
}

.fuentesytexto_font-family-4{
    font-family: "Lucida Console", "Courier New", monospace;
}

.fuentesytexto_font-style{
    font-style: normal;
}

.fuentesytexto_font-style-italic{
    font-style: italic;
}

.fuentesytexto_font-style-oblique{
    font-style: oblique;
}