
.fuentesytexto_resultado {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 90%);
}

.fuentesytexto_text-transform-capitalize {
    text-transform: capitalize;
}

.fuentesytexto_text-transform-uppercase {
    text-transform: uppercase;
}

.fuentesytexto_text-transform-lowercase {
    text-transform: lowercase;
}

.fuentesytexto_text-shadow-none {
    text-shadow: none;
}

.fuentesytexto_text-shadow-2px {
    text-shadow: 2px 2px 2px black;
}

.fuentesytexto_text-shadow-2px-4px {
    text-shadow: 2px 2px 2px black, 4px 4px 4px black;
}

.fuentesytexto_font-family {
    font-family: Arial, Helvetica, sans-serif;
}

.fuentesytexto_font-family-2 {
    font-family: "Times New Roman", Times, serif;

}

.fuentesytexto_font-family-3 {
    font-family: "Courier New", Courier, monospace;
}

.fuentesytexto_font-family-4 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.fuentesytexto_font-style {
    font-style: normal;
}

.fuentesytexto_font-style-italic {
    font-style: italic;
}

.fuentesytexto_font-style-oblique {
    font-style: oblique;
}

.fuentesytexto_font-weight {
    font-weight: normal;
}

.fuentesytexto_font-weight-bold {
    font-weight: bold;
}

.fuentesytexto_font-weight-bolder {
    font-weight: bolder;
}

.fuentesytexto_font-weight-lighter {
    font-weight: lighter;
}

.fuentesytexto_font-weight-100 {
    font-weight: 100;
}

.fuentesytexto_font-weight-900 {
    font-weight: 900;
}

.fuentesytexto_google-fonts {
    font-family: 'Roboto', sans-serif;
}

.fuentesytexto_font {
    font: italic small-caps bold 12px/30px Georgia, serif;
}

.fuentesytexto_font-variant-ligatures-normal{
    font-variant-ligatures: normal;
}

.fuentesytexto_font-variant-ligatures-common-ligatures{
    font-variant-ligatures: common-ligatures;
}

.fuentesytexto_font-variant-ligatures-no-common-ligatures{
    font-variant-ligatures: no-common-ligatures;
}

.fuentesytexto_font-variant-caps-normal{
    font-variant-caps: normal;
}

.fuentesytexto_font-variant-caps-small-caps{
    font-variant-caps: small-caps;
}

.fuentesytexto_font-variant-caps-all-small-caps{
    font-variant-caps: all-small-caps;
}

.fuentesytexto_font-variant-caps-petite-caps{
    font-variant-caps: petite-caps;
}

.fuentesytexto_font-variant-caps-all-petite-caps{
    font-variant-caps: all-petite-caps;
}

.fuentesytexto_font-variant-caps-unicase{
    font-variant-caps: unicase;
}

.fuentesytexto_font-variant-caps-all-titling-caps{
    font-variant-caps: titling-caps;
}



.fuentesytexto_font-variant-caps{
    font-variant-caps: small-caps;
}

.fuentesytexto_font-variant-caps-2{
    font-variant-caps: all-small-caps;
}

.fuentesytexto_font-variant-caps-3{
    font-variant-caps: petite-caps;
}

.fuentesytexto_font-variant-caps-4{
    font-feature-settings: "unic";
    font-variant-caps: unicase;
    font-family: Arial, Helvetica, sans-serif;
}

.fuentesytexto_font-variant-caps-5{
    font-variant-caps: all-petite-caps;
}

.fuentesytexto_font-variant-caps-6{
    font-feature-settings: "titl";
    font-family: 'League Spartan', sans-serif;
    font-variant-caps: titling-caps;
}