.transformaciones {
  width: 80px;
  height: 80px;
  background-color: skyblue;
}

.transformaciones-skewedx {
  width: 80px;
  height: 80px;
  transform: skew(10deg); /* Equal to skewX(10deg) */
  background-color: pink;
}

.transformaciones-skewed {
  width: 80px;
  height: 80px;
  transform: skew(10deg, 10deg);
  background-color: pink;
}